*{
  font-family: 'Roboto', sans-serif;
  border: none;
}

body{
  background-color: #1C1C1C;

}


#container-nav{
  display: flex; 
  align-items: center;
  text-align: center;
}

#titulo-nav{
  justify-content: right;
  padding-right: 4%;
}

#titulo{
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
}


.li-nav{
  color: white;
  
}


#titulo{
  font-size: 2rem;
}


.servicos-descricao{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sobre{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8%;
  text-align: center;
  max-width: 100%;
}

.missao{
  padding: 4%;
}
.visao{
  padding: 4%;
}
.valores{
  padding: 4%;
}
.proposito{
  padding: 4%;
}

.button-modal{
  width: 80%;
  height: 80%;
}

.servicos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2%;
  padding: 4%;
  border: none;
}

.card-deck{
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .card-deck {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-around;
  }
}
.card-text{
  color: #8f98a0 !important;
}

.especializacao{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  padding: 4%;
}

.auto{
  width: 100%;
  height: 100%;
  padding: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: right;
}

.text-auto{
  padding-left: 2%;
  width: 100%;
}

.image-auto{
  text-align: left;
}

.pesada{
  width: 100%;
  height: 100%;
  padding: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  justify-content: space-around;
}

.text-pesada{
  padding-right: 2%;
}

.image-pesada{
  text-align: right;
}

.antes-depois{
  width: 100%;
  height: 100%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 6%;
}

.grid-antes-depois{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 4%;
}

.faleConosco{
  padding-top: 4%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 95%;
  height: 100%;
}

.tituloFaleConosco{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

#inputwpp{
  border-radius: 8px;
  padding: 1%;
}

#inputwpp:focus{
  border: none;
  border-color: #1C1C1C;
}

#submit{
  border-radius: 8px;
  margin-left: 1%;
}

.logowpp{
  width: 100%;
  height: 100%;
}

.footer{
  padding: 2%;
  background-color: whitesmoke;
  margin-top: 6%;
  margin-bottom: 2%;
  color: #1C1C1C;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.redesSociais{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.infos{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.telefone{
  padding-bottom: 4%;
  display: flex;
}

.enderecochapeco{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 1%;
}


.email{
  display: flex;
}

#icon-text{
  text-align: center;
  align-items: center;
}

#mapscco{
  font-size: 85%;
}

#mapsxaxim{
  font-size: 85%;
}

.logo_footer{
  border: #1C1C1C;
}