*{
  font-family: 'Roboto', sans-serif;
  background-color: #1C1C1C;
}


#container-nav{
  display: flex; 
  align-items: center;
  margin: 1%;
}

#titulo-nav{
  justify-content: right;
  padding-right: 4%;
}

#titulo{
  font-weight: bold;
  font-size: 1.8rem;
  color: white;
}


.li-nav{
  color: white;
  
}


#titulo{
  font-size: 2rem;
}


.horarios{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sobre{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8%;
  text-align: center;
  max-width: 100%;
}

.missao{
  padding: 4%;
}
.visao{
  padding: 4%;
}
.valores{
  padding: 4%;
}
.proposito{
  padding: 4%;
}

.button-modal{
  width: 80%;
  height: 80%;
}

.servicos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}

.card-deck{
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .card-deck {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-around;
  }
}
.card-text{
  color: #8f98a0 !important;
}